<html>
<head>    
<title>Sign in</title></head>
<body>
<form action='/b_utente21/mvc/public/logins/do-login/' method="post" name="Login_Form">
        <h2>Please sign in</h2>
        <label for="inputUsername" >Username</label>
        <input name="username" type="username" id= " username"  placeholder="username" required autofocus>
        <label for="inputPassword">Password</label>
        <input name="password" type="password" id="inputPassword"  placeholder="password" required>
        <button name="submit" value="Login"  type="submit">Sign in</button>
</form>
</body>
</html>
