{% extends "base.html" %}

{% block title %}Drinks per nome{% endblock %}

{% block body %}
    <a href='/b_utente21/mvc/public/home/index/'>Torna indietro</a>
    <br>
    <h1>La pizzeria di Alex</h1>
    {% for pizza in pizze %}
        <h2>{{ pizza.Nome_pizza }}</h2>
        <p><img src="{{ pizza.Img }}" width="500"></p>
        <p>Prezzo: {{ pizza.Costo }}</p>
        <p>Ingredienti:</p>
        <ol>
            {% for ingrediente in pizza.ingredienti %}
                <li>{{ ingrediente.Nome }}, Surgelato: {{ ingrediente.SurgelatoStr }}</li>
            {% endfor %}
        </ol>  
    {% endfor %}
    <br>
    <a href='/b_utente21/mvc/public/home/index/'>Torna indietro</a>
{% endblock %}